<nav style="display: flex; justify-content: space-around; width: 300px;">
  <a href="/" class='link'>home</a>
  <a href="/pokemons" class='link'>pokemon</a>
  <a href="/trainers" class='link'>trainer</a>
</nav>